@{
    ViewBag.Title = "Página Inicio";
}

<div class="jumbotron">
    <h2>Control Universitario</h2>
    <p class="lead">Administre y gestione estudiantes, cursos y matrículas</p>
  
</div>

<div class="row">

</div>