@model ControlUniversitario.Models.ReporteModelo


<div class="row">

    <div class="col-6 offset-3">

        <h5>Seleccione un reporte</h5>
        @Html.Partial("_SeleccionarReporte", Model)

        <h2 class="mb-4">Estadística de cursos</h2>
        <div>
            <span class="fw-bold">Total de cursos:</span> @Model.EstadisticaCursosModelo.TotalCursos
        </div>
        <div>
            <span class="fw-bold">Total de matriculado:</span> @Model.EstadisticaCursosModelo.TotalCursosMatriculados
        </div>
        <div>
            <span class="fw-bold">%</span> @Model.EstadisticaCursosModelo.PorcentajeDeCursosMatriculados
        </div>

    </div>

</div>





