@model ControlUniversitario.Models.ReporteModelo
<div class="row">

    <div class="col-6 offset-3">

        <h5>Seleccione un reporte</h5>
        @Html.Partial("_SeleccionarReporte", Model)
    </div>

</div>